publications{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .md-card{
        margin: 10px 15px;
        width: 300px;

        .md-card-text{
            font-weight: 100;
            font-size: 15px;

            &.descr{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        img{
            object-fit: cover;
        }
    }

    .add-publication{
        position: fixed;
        bottom: 27px;
        right: 27px;
    }
}

.googleDialog {
    .md-dialog {
        width: 570px;
        border-radius: 4px;

        .md-dialog-content{
            padding: 5px;
        }
    }
}