publications{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .md-card{
        margin: 10px 15px;
        width: 300px;
        .md-avatar{
            margin-right: 16px;
        }

        .md-card-text{
            font-weight: 100;
            font-size: 20px;
        }
    }

    .add-publication{
        position: fixed;
        bottom: 32px;
        right: 32px;
    }
}

.googleDialog {
    .md-dialog {
        width: 570px;
        border-radius: 4px;

        .md-dialog-content{
            padding: 5px;
        }
    }
}