@import '../App/variables.scss';


#plans-list{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: auto;
    width: 96%;
    text-align: center;

    .md-card{
        margin: 10px 15px;
        width: 300px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .md-card-title{
             text-align: center;
        }

        .md-card-text{
            font-weight: 100;
            font-size: 20px;
        }
    }
}

.card-container{
    padding-top: 50px;
    width: 80%;
    margin: auto;
}

#purchaseCard{
    #card-wrapper{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &.md-card{
        .md-card-title{
             background: $md-primary-color;
        }
        width: 80%;
        margin: auto;
    }
}